.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flashes {
    line-height: 2;
}

/*------------------------------------------header*/
.brand-logo {
    margin-left: 10px;
}

.brand-logo:hover {
    text-decoration: underline;    
}

/*------------------------------------------hero image*/
.hero-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}


.inner-image {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.card-content em {
    text-transform: capitalize;
}

.small-button {
    width: 49%;
}