* {
    box-sizing: border-box;
    margin: 0;
}

/*------------------------------------------whole site*/

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.prefix {
    color: #24580C;
}

.flashes {
    width: 50%;
    padding: 5px;
    margin-top: 5px;
    line-height: 1;
    background-color: #71B104;
    color: white;
    border-radius: 25px;
    text-transform: capitalize;
}

/* label color */
.input-field label {
    color: #24580C;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #24580C;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #24580C;
    box-shadow: 0 1px 0 0 #24580C;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #71B104;
    box-shadow: 0 1px 0 0 #71B104;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #24580C;
}

/*------------------------------------------header*/
.nav-extended {
    background-color: #71B104;
    box-shadow: none;
}

.dropdown-content {
    background-color: #71B104;
}

/* .dropdown-item a {
    color: white;
    background-color: red;
} */

.brand-logo {
    margin-left: 10px;
}

.brand-logo:hover {
    text-decoration: underline;    
}

/*------------------------------------------footer.html*/
.page-footer {
    background-color: #71B104;
    margin-top: 100px;
}

.social-btn {
    font-size: large;
    padding: 0px 20px;
    color: white;
}

.social-btn:hover {
    color: #24580C;
}
/*------------------------------------------home.html*/
.hero-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    background-color: white;
    margin-bottom: 70px;
}

.home-card {
    background-color: #71B104;
    color: white;
    min-height: 450px;
}

.home-card-title {
    padding: 10px;
}

.inner-home-image {
    width: 100%;
    height: 200px;
}

.home-card-content {
    padding: 10px;
}

.home-btn-container {
    padding: 10px;
}

.home-btn {
    background-color: white;
    color: #24580C;
    width: 90%;
    font-size: 12px;
}

.home-btn:hover {
    background-color: #24580C;
    color: white;
}

/*------------------------------------------register.html*/
.register-title {
    color: #24580C;
}

.register-btn {
    background-color: #71B104;
    border-radius: 10px;
}

.register-btn:hover {
    background-color: #24580C;
}


/*------------------------------------------login.html*/
.login-title {
    color: #24580C;
}

.login-btn {
    background-color: #71B104;
    border-radius: 10px;
}

.login-btn:hover {
    background-color: #24580C;
}

/*------------------------------------------recipies.html*/
.recipe-title {
    color: #24580C;
}

.recipe-search {
    border: 2px solid #71B104;
    background-color: white;
    color: white;
}

.search-btn {
    background-color: #24580C;
}

.search-btn:hover {
    background-color: #71B104;
}

.recipe-card {
    min-height: 550px;
    background-color: #71B104;
}

.inner-image {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    border-bottom : 5px solid #71B104;
}

.recipe-name {
    text-transform: capitalize;
}

.recipe-card-content {
    background-color: #71B104;
    color: white;
}

.card-content em {
    text-transform: capitalize;
}

.recipe-link {
    width: 100%;
    padding: 20px;
    background-color: #71B104;
}

.view-recipe-link {
    width: 90%;
    border: 2px solid #24580C;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    color: #24580C;    
}

.view-recipe-link:hover {
    color: white;
    background-color: #24580C;
}

.recipe-message {
    color: white;
    background-color: #24580C;
    border-radius: 2px;
    width: 100%;
    height: 33px;
    font-size: 15px;
    padding-top: 3px;
}

.modal-text {
    color: black;
}

/*------------------------------------------edit recipe.html/ add recipe.html*/
.edit-recipe-title {
    color: #24580C;
}

.edit-recipe-btn,
.add-recipe-btn {
    background-color: #71B104;
}

.edit-recipe-btn:hover,
.add-recipe-btn:hover {
    background-color: #24580C;
}

.add-recipe-title {
    color: #24580C;
}

.add-title, 
.edit-title {
    color: #24580C;
}

.add-btn, 
.edit-btn {
    background-color: #71B104;
}

.add-btn:hover,
.edit-btn:hover {
    background-color: #24580C;
}

/*------------------------------------------view recipe.html*/
.view-recipe-header {
    /* background-color: red; */
    text-align: left;
    font-size: 20px;
    margin: 10px 0px;
}

.view-recipe-info {
    
    float: left;
    min-height: 300px;
    /* background-color: yellow; */
    padding: 10px;
}

.recipe-creator {
    text-transform: capitalize;
}

.view-recipe-image {
    padding: 5px;
    margin: 20px 0px;
    background-color: #71B104;
    width: 100%;
}

.cooking-info-container {
    padding: 0px 20px;
}

.cooking-info {
    background-color: #71B104;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    /* height: 50px; */
}

.dietary-requirements-container {
   padding: 0px 20px; 
}

.dietary-requirements {
    background-color: #71B104;
    border-radius: 10px;
    /* height: 50px; */
    font-size: 25px;
    color: white;
}

.green-prefix {
    color: #24580C;
}

.red-prefix {
    color: red;
}

.grey-prefix {
    color: lightgrey;
}

.instructions-container {
    padding: 0px 20px; 
}

.instructions {
    background-color: rgb(213, 255, 140);
    border-radius: 10px;
}

/*------------------------------------------cookware.html*/
.cookware-title {
    color: #24580C;
}

.cookware-message {
    padding: 25px 25px 25px 50px;
    font-size: 15px;
    color: #24580C;
    border-bottom: 2px solid #71B104;
}

.add-cookware-btn {
    margin: 50px 0px 0px 0px;
    background-color: #71B104;
}

.add-cookware-btn:hover {
    background-color: #24580C;
}

.cookware-card {
    margin: 50px 0px 50px 0px;
    height: 500px;
    position: relative;
    color: #24580C;
}

.inner-cookware-image {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    border-bottom : 5px solid #71B104;
}

.cookware-btn {
    background-color: #71B104;
}

.cookware-btn:hover {
    background-color: #24580C;
}


.cookware-benefits {
    width: 100%;
    padding: 5px;
}

.benefit {
    border: 5px solid white;
    background-color: #71B104;
    width: calc(33.3% - 3px);
    /* min-height: 300px; */
    margin-top: 20px;  
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align:center;
    padding: 20px;
}

.benefit-title {
    border-bottom: 2px solid #24580C;
    padding-bottom: 20px;
}

/*------------------------------------------edit cookware.html/ add cookware.html*/
.add-cookware-title, 
.edit-cookware-title {
    color: #24580C;
}

.add-cookware-btn,
.edit-cookware-btn {
    background-color: #71B104;
}

.add-cookware-btn:hover,
.edit-cookware-btn:hover {
    background-color: #24580C;
}

/*------------------------------------------My profile.html*/
.username {
    text-transform: capitalize;
    color: #24580C;
}

.your-recipes {
    color: white;
    background-color: #71B104;
    padding: 20px;
}

.profile-recipe-card {
    color: white;
}

.recipe-btns {
    width: 100%;
    background-color: #71B104;
    padding: 0px 5px 15px 5px;
}

.btn-small {
    background-color: white;
    color: #24580C;
    border: 2px solid #24580C;
}

.btn-small:hover {
    background-color: #24580C;
    color: white;
}

.small-button {
    width: 45%;
}

/*------------------------------------------cuisines.html/user.html*/
.cuisine-card-content,
.user-card-content {
    background-color: #71B104;
}

.cuisine-card-title,
.user-card-title {
    color: white;
}

.cuisine-btn,
.user-btn {
    background-color: #24580C;
    margin: 2px;
}

.cuisine-btn:hover,
.user-btn:hover {
    background-color: #71B104;
}

/*------------------------------------------edit user.html/ edit cuisine.html/ add cuisine.html*/
.add-cuisine-title, 
.edit-cuisine-title,
.edit-user-title {
    color: #24580C;
}

.add-cuisine-btn,
.edit-cuisine-btn, 
.edit-user-btn {
    background-color: #71B104;
}

.add-cuisine-btn:hover,
.edit-cuisine-btn:hover,
.edit-user-btn:hover {
    background-color: #24580C;
}

/*------------------------------------------media queries*/
@media only screen and (max-width: 768px) {
    /*------------------------------------------base.html*/
    .logo-image {
        display: none;
    }

    .social-btn {
        padding: 0px 10px;
    }

    /*------------------------------------------cookware.html*/
    .cookware-message {
        font-size: 12px;
    }

    /*------------------------------------------recipes.html*/
    
}

@media only screen and (max-width: 600px) {
    /*------------------------------------------home.html*/
    .hero-image {
        height: auto;
        margin-bottom: 10px;
    }
    
    /*------------------------------------------recipes.html*/
    .search-item {
        display: block;
    }
    
    .recipe-search {
        padding: 10px;
    }
}