{% extends "base.html" %}
{% block content %}

<h3 class="add-cookware-title center-align">Add Cookware</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_cookware') }}">
        <!--cookware name input-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pizza-slice prefix "></i>
                <input id="cookware_name" name="cookware_name" minlength="5" maxlength="100" type="text"
                    class="validate" required>
                <label for="cookware_name">Cookware Item</label>
            </div>
        </div>
        <!--cookware price-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pound-sign prefix"></i>
                <input id="cookware_price" name="cookware_price" minlength="3" maxlength="50" type="text"
                    class="validate" required>
                <label for="cookware_price">Cookware Price</label>
            </div>
        </div>
        <!--Cookware image url input-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix"></i>
                <input id="cookware_image" name="cookware_image" type="url" class="validate" required>
                <label for="cookware_image">Enter the image url</label>
            </div>
        </div>
        <!--Cookware link url input-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-link prefix"></i>
                <input id="cookware_link" name="cookware_link" type="url" class="validate" required>
                <label for="cookware_link">Enter the website link</label>
            </div>
        </div>
        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_cookware') }}" class="edit-cookware-btn btn-large text-shaddow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <a class="modal-trigger add-recipe-btn btn-large waves-effect waves-light" href="#modal1">
                    Confirm <i class="fas fa-check-circle right"></i></a>
            </div>
        </div>
        <!--Modal body-->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="row center-align">
                    <div class="col s12">
                        <p>
                            <strong> Are you sure you want to add this cookware item?</strong>
                        </p>
                    </div>
                    <button class="modal-close add-recipe-btn btn waves-effect waves-light" type="submit">Yes</button>
                    <a class="modal-close btn waves-effect waves-light">No</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}