{% extends "base.html" %}
{% block content %}

<h3 class="add-recipe-title center-align">Add Recipe</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <!-----------------------------Recipe name input/ cuisine dropdown menu-->
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-pizza-slice prefix"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="fas fa-globe-americas prefix"></i>
                <select id="cuisine_name" name="cuisine_name" class="validate" required>
                    <option value="" disabled selected>Select cuisine</option>
                    {% for cuisine in cuisines %}
                    <option class="dropdown-content" value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                    {% endfor %}
                </select>
                <label for="cuisine_name">Cuisine</label>
            </div>
        </div>
        <!-----------------------------Recipe image url input-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix"></i>
                <input id="recipe_image" name="recipe_image" type="url" class="validate" required>
                <label for="recipe_image">Enter the image url</label>
            </div>
        </div>
        <!-----------------------------Description text area-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix"></i>
                <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>
        <!-----------------------------Prep time/ cook time input-->
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-user-clock prefix"></i>
                <input id="prep_time" name="prep_time" type="text" class="validate" required>
                <label for="prep_time">Prep time (minutes)</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="fas fa-user-clock prefix"></i>
                <input id="cook_time" name="cook_time" type="text" class="validate" required>
                <label for="cook_time">Cook time (minutes)</label>
            </div>
        </div>
        <!-----------------------------Serving/ calorie input-->
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-users prefix"></i>
                <input id="serves" name="serves" type="text" class="validate" required>
                <label for="serves">Serving suggestion</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="fas fa-calculator prefix"></i>
                <input id="calories" name="calories" type="text" class="validate" required>
                <label for="calories">Calories per serving</label>
            </div>
        </div>
        <!-----------------------------Vegetarian/ vegan/ spicy switches-->
        <div class="row">
            <div class="input-field col s12 m6 l4">
                <div class="switch">
                    <i class="fas fa-carrot prefix"></i>
                    <label for="vegetarian">
                        <input type="checkbox" id="vegetarian" name="vegetarian">
                        <span class="lever"></span>
                        Vegetarian
                    </label>
                </div>
            </div>
            <div class="input-field col s12 m6 l4">
                <div class="switch">
                    <i class="fas fa-leaf prefix"></i>
                    <label for="vegan">
                        <input type="checkbox" id="vegan" name="vegan">
                        <span class="lever"></span>
                        Vegan
                    </label>
                </div>
            </div>
            <div class="input-field col s12 m6 l4">
                <div class="switch">
                    <i class="fas fa-pepper-hot prefix"></i>
                    <label for="spicy">
                        <input type="checkbox" id="spicy" name="spicy">
                        <span class="lever"></span>
                        Spicy
                    </label>
                </div>
            </div>
        </div>
        <!-----------------------------Allergen dropdown multiselect-->
        <!-- <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-notes-medical prefix"></i>
                <select id="allergen" name="allergen" class="validate" multiple>
                    <option value="" disabled selected>Select any allergens</option>
                    {% for allergen in allergens %}
                    <option value="{{ allergen.allergen }}">{{ allergen.allergen }}</option>
                    {% endfor %}
                </select>
                <label for="allergen">Allergens</label>
            </div>
        </div> -->
        <!-----------------------------Ingredients list-->
        <div class="row">
            <div class="col s12">
                <div class="card background">
                    <div class="card-content">
                        <span class="card-title center add-title"><strong>Ingredients</strong></span>
                        <div class="addIngredient new-ingredient ingredient">
                            <div class="input-field">
                                <input id="ingredients" type="text" placeholder="500g chicken, diced" name="ingredients[]"
                                    class="ingredients validate" minlength="1" maxlength="100" required>
                            </div>
                        </div>
                        <!-- add button -->
                        <a id="add_ingredient" class="add-btn btn waves-effect waves-light"><i
                                class="material-icons fas fa-plus"></i></a>
                        <!-- Remove button -->
                        <a id="remove_ingredient" class="add-btn btn waves-effect waves-light"><i
                                class="fas fa-minus"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-----------------------------Method-->
        <div class="row">
            <div class="col s12">
                <div class="card background">
                    <div class="card-content">
                        <span class="card-title center add-title"><strong>Method</strong></span>
                        <div class="addMethod new-method method">
                            <div class="input-field whites-4">
                                <input id="method" type="text" placeholder="Preheat oven to ..." name="method[]"
                                    class="method validate" minlength="5" required>
                            </div>
                        </div>
                        <!-- add button -->
                        <a id="add_method" class="add-btn btn waves-effect waves-light"><i
                                class="material-icons fas fa-plus"></i></a>
                        <!-- Remove button -->
                        <a id="remove_method" class="add-btn btn waves-effect waves-light"><i
                                class="fas fa-minus"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-----------------------------Submit button and confirmation modal-->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_recipes') }}" class="edit-cookware-btn btn-large text-shaddow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <a class="modal-trigger add-recipe-btn btn-large waves-effect waves-light" href="#modal1">Add recipe</a>
                <!-- <button type="submit" class="add-recipe-btn btn-large text-shaddow">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                </button> -->
            </div>
        </div>
        <!-----------------------------Modal body-->
        
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div class="row center-align">
                        <div class="col s12">
                            <p class>
                                <strong> Are you sure you want to add this recipe?</strong>
                            </p>
                        </div>
                        <!-- Submit button -->
                        <button class="modal-close add-recipe-btn btn waves-effect waves-light" type="submit">Yes</button>
                        <!-- No button -->
                        <a class="modal-close btn waves-effect waves-light">No</a>
                    </div>
                </div>
            </div>
    </form>
</div>

{% endblock %}