{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Manage Cuisines</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_cuisine') }}" class="cuisine-btn btn-large text-shadow">
            Add Cuisine <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for cuisine in cuisines %}
    <div class="col s12 m4 l3">
        <div class="cuisine-card card center-align">
            <div class="cuisine-card-content card-content white-text">
                <h5 class="cuisine-card-title card-title"><strong>{{ cuisine.cuisine_name }}</strong></h5>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_cuisine', cuisine_id=cuisine._id) }}" class="cuisine-btn btn">Edit</a>
                <a href="{{ url_for('delete_cuisine', cuisine_id=cuisine._id) }}"
                    class="modal-trigger cuisine-btn btn waves-effect waves-light remove-btn">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}