{% extends "base.html" %}
{% block content %}

    <img class="hero-image" src="static/images/hero-image-2.png" alt="cookware collection">

    <h3 class="recipe-title center-align">Welcome to Soul Food!</h3>

    <div class="row">
            <div class="col s12 m6 l4">
                <div class="home-card card center-align">
                    <div class="home-card-image">
                            <img src="static/images/cookware-home.webp" class="inner-home-image">
                        </div>
                    <div>
                        <span class="home-card-title">Our cookware collection</span>
                    </div>
                    <div class="home-card-content">We've partnered with Greenpan to bring you their latest range, the mayflower collection.</div>
                    <div>
                        <a href="#" class="home-btn btn-large text-shadow">
                            See the collection <i class="fas fa-link right"></i>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
            <div class="col s12 m6 l4">
                <div class="home-card card center-align">
                    <div class="home-card-image">
                            <img src="static/images/recipe-home.jpg" class="inner-home-image">
                        </div>
                    <div>
                        <span class="home-card-title">Amazing recepies</span>
                    </div>
                    <div class="home-card-content">A collection of recipes from all of our users. Located together in one convenient place.</div>
                    <div>
                        <a href="#" class="home-btn btn-large text-shadow">
                            See the collection <i class="fas fa-link right"></i>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
            <div class="col s12 m6 l4">
                <div class="home-card card center-align">
                    <div class="home-card-image">
                            <img src="static/images/user-home.webp" class="inner-home-image">
                        </div>
                    <div>
                        <span class="home-card-title">Your profile</span>
                    </div>
                    <div class="home-card-content">Once you have registered, you will have access to your own profile page.</div>
                    <div>
                        <a href="#" class="home-btn btn-large text-shadow">
                            See the collection <i class="fas fa-link right"></i>
                        </a>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}