{% extends "base.html" %}
{% block content %}

    <img class="hero-image" src="static/images/hero-image-2.png" alt="cookware collection">

    <h3 class="recipe-title center-align">Welcome to Soul Food!</h3>

    <div class="row">
            <div class="col s12 m6 l4">
                <div class="home-card card center-align">
                    <div class="home-card-title">
                        <h6>Our cookware collection</h6>
                    </div>
                    <div class="home-card-image">
                        <img src="static/images/cookware-home.webp" class="inner-home-image">
                    </div>
                    <div class="home-card-content">We've partnered with Greenpan to bring you their latest range, the mayflower collection.</div>
                    <div class="home-btn-container">
                        <a href="{{ url_for('get_cookware') }}" class="home-btn btn-large">
                            View the collection
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="home-card card center-align">
                    <div class="home-card-title">
                        <h6>Amazing recipes</h6>
                    </div>
                    <div class="home-card-image">
                        <img src="static/images/recipe-home.jpg" class="inner-home-image">
                    </div>
                    <div class="home-card-content">We have recipes brought to us from users all over the world. 
                        Search though our vast collection located together in one convenient place.</div>
                    <div class="home-btn-container">
                        <a href="{{ url_for('get_recipes') }}" class="home-btn btn-large">
                            Explore our recipes
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="home-card card center-align">
                    <div class="home-card-title">
                        <h6>Your own profile page</h6>
                    </div>
                    <div class="home-card-image">
                        <img src="static/images/user-home.webp" class="inner-home-image">
                    </div class="home-card-title">
                    {% if session.user %}
                        <div class="home-card-content">Access your own unique profile page. From here you can easily view, edit or delete your own recipes. </div>   
                    {% else %}
                        <div class="home-card-content">Oh no, you're not logged in! Login here to access your unique profile page and some exclusive features.</div>
                    {% endif %}
                    <div class="home-btn-container">
                        {% if session.user %}
                        <a href="{{ url_for('profile', username=session['user']) }}" class="home-btn btn-large">
                            Visit your profile page
                        </a>
                        {% else %}
                        <a href="{{ url_for('login') }}" class="home-btn btn-large">
                            Login
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>

{% endblock %}